In [14]:
#import library
import pandas as pd

In [16]:
#laod CSV dataset into dataframe
df= pd.read_csv(r"C:\Users\acer\Desktop\data_analysis\adult.data.csv")

In [18]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [20]:
#show dataframe information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [22]:
#1. How many of each race are represented in this dataset?
race_count = df['race'].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [24]:
# 2. What is the average age of men?
avg_age_mean= df[df['sex']=='Male']['age'].mean()
avg_age_mean

39.43354749885268

In [26]:
#3. What is the percentage of people who have a Bachelor's degree?
percetange_bachelor= (df['education']=='Bachelors').mean()*100
percetange_bachelor

16.44605509658794

In [28]:
 # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
 # What percentage of people without advanced education make more than 50K?
 # with and without `Bachelors`, `Masters`, or `Doctorate`

higher_Edu = df['education'].isin(['Bachelors', 'Masters','Doctorate'])
lower_Edu= ~higher_Edu
 higher_education_rich = (df[higher_Edu]['salary'] == '>50K').mean() * 100
lower_education_rich = (df[lower_Edu]['salary'] == '>50K').mean() * 100
higher_education_rich
lower_education_rich

17.3713601914639

In [30]:
# 5. What is the minimum number of hours a person works per week (hours-per-week feature)?
min_hrs = df['hours-per-week'].min()
min_hrs

1

In [32]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
min_hrs_workers = df[df['hours-per-week']==min_hrs]
min_hrs_workers
rich_percentage = (min_hrs_workers['salary'] == '>50K').mean() * 100
rich_percentage

10.0

In [34]:
 # Identify the most popular occupation for those who earn >50K in India.

top_IN_occupation = df[(df['salary'] == '>50K') & (df['native-country'] == 'India')]['occupation'].mode()[0]
top_IN_occupation

'Prof-specialty'